body {
			margin: 0px;
			font-family: 'Open Sans', Helvetica, sans-serif;
		}

		img {
			float: left;
			padding-right: 10px;
		}

		p {
		    font-size: 15px;
		    line-height: 25px;
		}

		h1 {
			line-height: 60px;
			margin-top: 0px;
			margin-bottom: 0px;
			font-weight: lighter;		
		}

		#wrapper {
			width: 750px;
		}

		 #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }

		#controls {
			width: 100%;
			margin: 0 auto;
		}

		#header {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.legend {
			line-height: 18px;
			color: #333333;
			padding: 6px 8px;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}

		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 18px;
			opacity: 0.7;
		}

		.legend img {
			width: 18px;
			height: 18px;
			float: left;
		}

		.legend p {
			font-size: 12px;
			line-height: 18px;
			margin: 0;
		}

		#credits p {
			margin-top: 5px;
			font-size: 12px;
			text-align: right;
			line-height: 16px;
		}